<h3>
  {{!--You are currently logged as: {{session.data.authenticated.profile.email}}--}}
  {{!--<img src="{{session.data.authenticated.profile.picture}}" width="50" height="50">--}}
</h3>
<h3>
  {{!--{{#if session.data.authenticated.profile.impersonated}}--}}
    {{!--Impersonated by: {{session.data.authenticated.profile.impersonator.email}}--}}
  {{!--{{/if}}--}}
</h3>
<div>
  {{!--Token expires {{moment-calendar expiresIn}} {{moment-from-now expiresIn}}--}}
</div>
<a id="qsLogoutBtn" class="qsLogoutBtn" href="#" {{action "logout"}}>
    Log Out
</a>
<br/>
<h2>This is a protected route. You can only reach it if you are authenticated.</h2>
<br/>
<h2>Message from a protected API endpoint:</h2>

{{#each messages as |message|}}
  {{message.body}}
{{/each}}
